doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Let`s talk 
        link(rel="stylesheet", href="./style/index.css")
    body 
        .wrapper 
            .container
                //- bcg-elements
                .bcg-crc-1 
                .bcg-crc-2 
                .bcg-crc-centre
                .bcg-crc-bottom
                .bcg-crc-3
                .bcg-green-crc-1
                .bcg-green-crc-2
                .bcg-white-crc-1
                .bcg-white-crc-2
                .bcg-orange-crc-1
                .bcg-pink-crc-1
                |
                |
                img.bcg-smile(src="./assets/bcg-smile.svg", alt="smile")
                |
                |
                img.bcg-arrow(src="./assets/bcg-arrow.svg", alt="girl")
                |
                |
                img.bcg-hi(src="./assets/hi.svg", alt="hi")
                div.bcg-window 
                    img.bcg-window__face(src="./assets/window-face.svg", alt="face")
                    .bcg-window__rows 
                        .bcg-window__row.bcg-window__row_1
                        .bcg-window__row.bcg-window__row_2
                        .bcg-window__row.bcg-window__row_3
                header.header 
                    a(href="#")
                        img.header__logo(src="./assets/logo.svg", alt="logo")
                    nav.header__nav 
                        ul.header__list 
                            li
                                a.header__link(href="#") Features
                            li
                                a.header__link(href="#") Blog
                            li
                                a.header__link(href="#") Premium
                            li
                                a.header__link(href="#") App
                    button.header__button 
                        span.header__button_text Get started
                h1.h1 <span class="h1_span">Meet the</span> Chosen one
                .card 
                    img.card__img(src="./assets/card-face.png", alt="")
                    h3.card__city New York
                    h2.card__name John Carter
                    h3.card__location Near 2.1 Miles
                    button.card__btn Say Hello 
            |           
            |    
            img.bcg-girl(src="./assets/girl.png", alt="girl")
                


