@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes or-anim {
  0% {
    background-color: #FFC247;
  }
  20% {
    background-color: #ffa947;
  }
  40% {
    background-color: #ff7b47;
  }
  60% {
    background-color: #ff8147;
  }
  80% {
    background-color: #ffa947;
  }
  100% {
    background-color: #FFC247;
  }
}

@keyframes or-anim {
  0% {
    background-color: #FFC247;
  }
  20% {
    background-color: #ffa947;
  }
  40% {
    background-color: #ff7b47;
  }
  60% {
    background-color: #ff8147;
  }
  80% {
    background-color: #ffa947;
  }
  100% {
    background-color: #FFC247;
  }
}
@-webkit-keyframes reversal {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes reversal {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes row {
  0% {
    width: 0px;
  }
  100% {
    width: 172px;
  }
}
@keyframes row {
  0% {
    width: 0px;
  }
  100% {
    width: 172px;
  }
}
@-webkit-keyframes row3 {
  0% {
    width: 0px;
  }
  100% {
    width: 114px;
  }
}
@keyframes row3 {
  0% {
    width: 0px;
  }
  100% {
    width: 114px;
  }
}
@-webkit-keyframes smile-anim {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }
}
@keyframes smile-anim {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #202020;
}

.wrapper {
  min-height: 100vh;
  background-color: #D1DADB;
  padding: 0 20px;
  padding-top: 5vh;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1441px;
  height: 90vh;
  background: linear-gradient(103.69deg, #E6EFEE 3.76%, #E2E9DF 93.56%);
  margin: auto;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.bcg-crc-1 {
  display: inline-block;
  width: 1553px;
  min-height: 1032px;
  border: 1px solid rgb(255, 170, 133);
  border-radius: 50%;
  transform: rotate(-27.08deg);
}

.bcg-crc-2 {
  display: inline-block;
  width: 1331px;
  min-height: 868px;
  border: 1px solid rgb(115, 228, 160);
  border-radius: 50%;
  transform: rotate(-27.08deg);
  position: absolute;
  top: 100px;
  left: 76px;
}

.bcg-crc-centre {
  display: inline-block;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #FFC247;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: or-anim 10s linear 0s infinite alternate forwards;
          animation: or-anim 10s linear 0s infinite alternate forwards;
}

.bcg-crc-bottom {
  display: inline-block;
  width: 1803px;
  height: 746px;
  position: absolute;
  top: 76%;
  left: -13%;
  border-radius: 50%;
  background-color: #202020;
}

.bcg-crc-3 {
  display: inline-block;
  width: 1803px;
  height: 818px;
  border: 1px solid rgb(84, 84, 84);
  border-radius: 50%;
  position: absolute;
  top: 87%;
  left: -13%;
}

.bcg-green-crc-1 {
  display: inline-block;
  width: 29px;
  height: 29px;
  background-color: #4FC27E;
  border-radius: 50%;
  position: absolute;
  top: 628px;
  left: 73px;
}

.bcg-green-crc-2 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #4FC27E;
  border-radius: 50%;
  position: absolute;
  top: 721px;
  left: 1373px;
}

.bcg-white-crc-1 {
  display: inline-block;
  width: 41px;
  height: 41px;
  background: linear-gradient(305.73deg, #FFFFFF -4.29%, rgba(255, 255, 255, 0) 96.27%);
  border-radius: 50%;
  position: absolute;
  top: 258px;
  left: 119px;
}

.bcg-white-crc-2 {
  display: inline-block;
  width: 61px;
  height: 61px;
  background: linear-gradient(305.73deg, #FFFFFF -4.29%, rgba(255, 255, 255, 0) 96.27%);
  border-radius: 50%;
  position: absolute;
  top: 133px;
  left: 1085px;
}

.bcg-orange-crc-1 {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #FFC247;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 459px;
}

.bcg-pink-crc-1 {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #FF5777;
  border-radius: 50%;
  position: absolute;
  top: 217px;
  left: 1245px;
}

.bcg-smile {
  position: absolute;
  top: 226px;
  left: 1110px;
}
.bcg-smile:hover {
  -webkit-animation: smile-anim 2s linear 0s infinite alternate forwards;
          animation: smile-anim 2s linear 0s infinite alternate forwards;
}

.bcg-arrow {
  position: absolute;
  top: 435px;
  left: 1094px;
}

.bcg-girl {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.bcg-hi {
  position: absolute;
  top: 320px;
  left: 300px;
  -webkit-animation: reversal 3.5s linear 0s infinite normal forwards;
          animation: reversal 3.5s linear 0s infinite normal forwards;
}

.bcg-window {
  position: absolute;
  top: 580px;
  left: 885px;
  max-width: 378px;
  background: rgba(134, 132, 132, 0.39);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 10px 90px 50px -32px rgba(32, 32, 32, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 27px 64px 27px 27px;
}
.bcg-window__rows {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  max-width: 172px;
}
.bcg-window__row {
  background: linear-gradient(89.9deg, #FFFFFF -7.46%, rgba(255, 255, 255, 0) 138.55%);
  border-radius: 15px;
  height: 18px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.bcg-window__row_1, .bcg-window__row_2 {
  -webkit-animation-name: row;
          animation-name: row;
}
.bcg-window__row_3 {
  -webkit-animation-name: row3;
          animation-name: row3;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Manrope", sans-serif;
  width: 100%;
  padding: 40px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}
.header__list {
  display: flex;
  gap: 0px 85px;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  transition: 0.5s ease;
}
.header__link:hover {
  transform: scale(1.2);
}
.header__button {
  display: inline-block;
  padding: 14px 38px;
  border-radius: 34px;
  background: #131416;
  border: 1px solid #131416;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}
.header__button:hover {
  background: radial-gradient(circle, rgb(221, 59, 245) 0%, rgb(255, 126, 128) 100%);
}
.header__button:hover .header__button_text {
  transform: rotate(360deg);
  color: #131416;
}
.header__button_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  transition: all 0.5s ease;
}

.h1 {
  position: absolute;
  top: 11%;
  left: 29%;
  max-width: 630px;
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  line-height: 125px;
  font-family: "Manrope", sans-serif;
}
.h1_span {
  color: #4FC27E;
  font-weight: 400;
}

.card {
  position: absolute;
  top: 60%;
  left: 15%;
  background: #F1F6F6;
  border: 1px solid #F9FEFE;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  padding: 65px 21px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 6px 0;
}
.card__img {
  position: absolute;
  top: -20%;
}
.card__city {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.card__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.card__location {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
}
.card__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FF7E88;
  padding: 8px 29px 8px 31px;
  border-radius: 36px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */