@import "./reser";
@import "./animation";
@import "./tools";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
// font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    color: #202020;
}

.wrapper {
    min-height: 100vh;
    background-color: #D1DADB;
    padding: 0 20px;
    padding-top: 5vh;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1441px;
    height: 90vh;
    background: linear-gradient(103.69deg, #E6EFEE 3.76%, #E2E9DF 93.56%);
    margin: auto;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    // -webkit-box-shadow: 0px 58px 126px -19px rgba(0,0,0,0.48);
    // -moz-box-shadow: 0px 58px 126px -19px rgba(0,0,0,0.48);
    position: relative;
    overflow: hidden;
}

// bcg-elements
.bcg-crc-1 {
    display: inline-block;
    width: 1553px;
    min-height: 1032px;
    border: 1px solid rgba(255, 170, 133, 1);
    border-radius: $br;
    transform: rotate(-27.08deg);
}
.bcg-crc-2 {
    display: inline-block;
    width: 1331px;
    min-height: 868px;
    border: 1px solid rgba(115, 228, 160, 1);
    border-radius: $br;
    transform: rotate(-27.08deg);
    @include position-a (100px, 76px);
}
.bcg-crc-centre {
    display: inline-block;
    width: 445px;
    height: 445px;
    border-radius: $br;
    background-color: #FFC247;
    @include position-a (50%, 50%);
    transform: translate(-50%, -50%);
    animation: or-anim 10s linear 0s infinite alternate forwards;
}
.bcg-crc-bottom {
    display: inline-block;
    width: 1803px;
    height: 746px;
    @include position-a (76%, -13%);
    border-radius: $br;
    background-color: #202020;
}
.bcg-crc-3 {
    display: inline-block;
    width: 1803px;
    height: 818px;
    border: 1px solid rgba(84, 84, 84, 1);
    border-radius: $br;
    @include position-a (87%, -13%);
}
.bcg-green-crc-1 {
    display: inline-block;
    width: 29px;
    height: 29px;
    background-color: #4FC27E;
    border-radius: $br;
    @include position-a (628px, 73px);
}
.bcg-green-crc-2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #4FC27E;
    border-radius: $br;
    @include position-a (721px, 1373px);
}
.bcg-white-crc-1 {
    display: inline-block;
    width: 41px;
    height: 41px;
    background: linear-gradient(305.73deg, #FFFFFF -4.29%, rgba(255, 255, 255, 0) 96.27%);
    border-radius: $br;
    @include position-a (258px, 119px);
}
.bcg-white-crc-2 {
    display: inline-block;
    width: 61px;
    height: 61px;
    background: linear-gradient(305.73deg, #FFFFFF -4.29%, rgba(255, 255, 255, 0) 96.27%);
    border-radius: $br;
    @include position-a (133px, 1085px);
}
.bcg-orange-crc-1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #FFC247;
    border-radius: $br;
    @include position-a (220px, 459px);
}
.bcg-pink-crc-1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #FF5777;
    border-radius: $br;
    @include position-a (217px, 1245px);
}
.bcg-smile {
    @include position-a (226px, 1110px);
    &:hover {
        animation: smile-anim 2s linear 0s infinite alternate forwards;
    }
}
.bcg-arrow {
    @include position-a (435px, 1094px);
}
.bcg-girl {
    @include position-a (73%, 50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
.bcg-hi {
    @include position-a (320px, 300px);
    animation: reversal 3.5s linear 0s infinite normal forwards;
}
.bcg-window {
    @include position-a (580px, 885px);
    max-width: 378px;
    background: rgba(134, 132, 132, 0.39);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 90px 50px -32px rgba(32, 32, 32, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 27px 64px 27px 27px;
    &__rows {
        display: flex;
        flex-direction: column;
        gap: 18px 0;
        max-width: 172px;
    }
    &__row {
        background: linear-gradient(89.9deg, #FFFFFF -7.46%, rgba(255, 255, 255, 0) 138.55%);
        border-radius: 15px;
        height: 18px;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-iteration-count: 2;
        animation-direction: normal;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        &_1, &_2 {
            animation-name: row;
        }
        &_3 {
            animation-name: row3;
        }
    }
}
// site frame
.header {
    @include position-a (0px, 0px);
    font-family: 'Manrope', sans-serif;
    width: 100%;
    padding: 40px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    &__list {
        display: flex;
        gap: 0px 85px;
    }
    &__link {
        @include font-setting (500, 16px, 22px);
        display: inline-block;
        transition: 0.5s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__button {
        display: inline-block;
        padding: 14px 38px;
        border-radius: 34px;
        background: #131416;
        border: 1px solid #131416;
        transition: all 0.3s ease;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            background: radial-gradient(circle, rgba(221,59,245,1) 0%, rgba(255,126,128,1) 100%);
        }
        &:hover .header__button_text {
            transform: rotate(360deg);
            color: #131416;
        }
        &_text {
            @include font-setting (500, 16px, 22px);
            color: #FFFFFF;
            font-family: 'Manrope', sans-serif;
            display: inline-block;
            transition: all 0.5s ease;
        }
    }
}

.h1 {
    @include position-a (11%, 29%);
    max-width: 630px;
    text-align: center;
    @include font-setting (700, 100px, 125px);
    font-family: 'Manrope', sans-serif;
    &_span {
        color: #4FC27E;
        font-weight: 400;
    }
}

.card {
    @include position-a (60%, 15%);
    background: #F1F6F6;
    border: 1px solid #F9FEFE;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    padding: 65px 21px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 6px 0;
    &__img {
        position: absolute;
        top: -20%;
    }
    &__city {
        @include font-setting (500, 14px, 16px);
        color: #999999;
    }
    &__name {
        @include font-setting (500, 24px, 28px);
    }
    &__location {
        @include font-setting (500, 16px, 18px);
        color: #999999;
    }
    &__btn {
        @include font-setting (700, 16px, 19px);
        color: #FF7E88;
        padding: 8px 29px 8px 31px;
        border-radius: 36px;
        border: 2px solid rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}